[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "==0.25.2"
kivy = "==1.10.1"
pyserial = "==3.4"

[dev-packages]
pytest = "*"
pylint = "*"
"pep8" = "*"
mypy = "*"

[requires]
python_version = "3.6"
